[package]
name = "example"
version = "0.1.0"
edition = "2024"

[dependencies]
actix-web = "4.12.0"
actix_boot = { path = ".." }
sea-orm = { version = "1.1.19", features = ["runtime-tokio-native-tls"] }